[*.cs]

# IDE0055: Corrigir a formatação
dotnet_diagnostic.IDE0055.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
