@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Status da Operação";
}

<div class="container text-center mt-5">
    <h2>@ViewBag.Message</h2>
    <p>Você já pode fechar esta janela.</p>
</div>